@{
    Layout = "_LayoutCreador";
    ViewData["Title"] = "Cursos";
}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Curso1</title>

    <link href="~/css/navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/css/footer.css" rel="stylesheet" type="text/css" />

    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Proyecto_integrador.styles.css" asp-append-version="true" />



    <link href="~/css/DiegoCurso1_min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body style="background: #ddcee8;">


        <div class="w-auto p-3">
            <div class="row row-cols-1 row-cols-md-4">
                @foreach (var item in Model)
                {
                <div class="col">

                    <div class="card text-center h-100">
                        <img src=@item.Img class="card-img-top" alt="@item.Nombre">
                        
                        <div class="card-body">
                            <h5 class="card-title">@item.Nombre</h5>
                            <p>@item.Area</p>
                            <p>@item.Tema</p>
                            <p>@item.Dificultad</p>

                            <a asp-action="CursoCreador" class="btn btn-primary" asp-controller="Home" asp-route-Id_curso="@item.Id_curso">Ir a curso</a>
                        </div>

                    </div>
                    
                </div>
                }
            </div>
        </div>
    </body>
</html>